<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Qu'est ce que Ludopedia</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img src="../../assets/icon/favicon.png" alt="noimg">
      </ion-col>
      <ion-col size="9">
        <p class="ion-text-justify ion-padding-end ion-padding-start">Ludopedia prétend être une encyclopédie en ligne de jeux de sociétés. En réalité, ce n'est qu'une façade, un faux-semblant, cachant très probablement une activité criminelle terrifiante sans doute liée à la mafia du Saulcy ou alors c'est un projet pas fou fait deux jours avant la deadline parce que j'avais oublié.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>A propos du créateur</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-justify ion-padding-end ion-padding-start">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eum id distinctio accusantium excepturi quis doloremque, eaque enim dolorem suscipit reprehenderit! Obcaecati ipsum sapiente optio accusamus! Doloremque eius quisquam fuga.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
